<h1>Sign Up to Join Our Library!</h1>
<ul>
<%= form_for @user, url: "/signup" do |f| %>
    <li><%= f.label :username %>:</li>
    <%= f.text_field :username %><br>
    <%= f.submit %>
<% end %>
</ul>
