<div class="container">
<% if object.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><h4><%= message %>.</h4></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>