<h1>Our Library</h1>
<ul>
<% @books.each do |book| %>
    <div><h2><%= book.title %></h2>
        Author: <%= book.authors %><br>
        Description: <%= book.description %></div>
        <%= link_to "Details-Checkout-Reviews", book_path(book.id) %>
<% end %>  
</ul>