<h1>Our Library</h1>
<h4>Click on any title to see more information, check out the book, or write a review.</h4>
<ul>
<% @books.each do |book| %>
    <div><h2><%= link_to book.title, book_path(book.id) %></h2>
        Author(s): <%= book.authors %><br>
        Description: <%= book.description %></div>
<% end %>  
</ul>