<div class="center">
    <h2>Welcome to Books and Banter!</h2>
    <h4>A Library App for Checkouts & User Reviews</h4>
        <br>
    <h5>Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>.</h5>
    <h5>If you have a Google account, you can login using the button above.</h5>
        <br>
</div>
