<h1>Welcome to Books and Banter!</h1>
<h2>A Library App for Checkouts & User Reviews</h2>
<h3>Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>.</h3>
<h3>If you have a Google account, you can login using the button above.</h3>
