<h1>Checkout History</h1>
<% @checkouts.each do |checkout| %>
    <div><h3><%= borrowed_book_title(checkout) %></h3>
        Date Checked Out: <%= checkout.checkout_date %><br>
        Original Due Date: <%= checkout.due_date %>
    </div>
<% end %>