<div class="container">
<br>
<h2>Edit Review</h2>
<%= review_page_title %>

<%= render partial: 'shared/error_display', locals: { object: @review }%>

<%= form_for @review, url: review_path(@review.id) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>
</div>