<h2>Add a New Review:</h2>
<%= review_title %>

<%= render partial: 'shared/error_display', locals: { object: @review }%>

<%= form_for @review, url: book_reviews_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>
